reference
"Last, F. M., Last, F. M., & Last, F. M. (2024). Title of the journal article. Journal Name, Volume(Issue), Pages. https://doi.org/10.xxxx/example"
"Last, F. M., & Last, F. M. (2023). Title of another cited work. Publisher or Journal Name."
